.side-nav-links {
    list-style: none;
    margin: 0;
    padding-right: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .side-nav-links li {
    margin: 1rem;
  }
  
  .side-nav-links a {
    border: none;
    border-radius: 4px;;
    color: #292929;
    text-decoration: none;
    padding: 0.5rem 1.2rem;
  }
  
  .side-nav-links a:hover,
  .side-nav-links a:active,
  .side-nav-links a.active {
    background: #f8df00;
    color: #292929;
  }
  
  .side-nav-links button {
    cursor: pointer;
    border: 1px solid #292929;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  }
  
  .side-nav-links button:focus {
    outline: none;
  }
  
  .side-nav-links button:hover,
  .side-nav-links button:active {
    background: #292929;
    color: white;
  }
  
  @media (min-width: 768px) {
    .side-nav-links {
      flex-direction: row;
    }
  
    .side-nav-links li {
      margin: 0 0.5rem;
    }
  
    .side-nav-links a {
      color: white;
      text-decoration: none;
    }
  
    .side-nav-links button {
      border: 1px solid white;
      color: white;
      background: transparent;
    }
    
    .side-nav-links button:hover,
    .side-nav-links button:active {
      background: #f8df00;
      color: #292929;
    }
  }
  