.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    background: dodgerblue;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: rgb(4, 90, 175);
    border-color: dodgerblue;
  }
  
  .button--inverse {
    background: transparent;
    color: seagreen;
    border: 1px solid green !important;
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    color: white;
    background: rgb(5, 48, 5);
  }
  
  .button--danger {
    background: #a30404;
    border-color: #a30404;
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: #690101;
    border-color: #690101;
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }