.avatar{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    justify-content:center;
    align-items: center;
}
.avatar img{
    display: block;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:785px){
    .avatar{
        width: 140%;
        height: 300px;
        padding: 0px !important;
        margin-top: -15px;
    }
    .avatar>img{
        display: block;
        padding: 0px !important;
        width: 120% !important;
        height: 100%;
        margin-left: -11px;
        object-fit: cover;
        border-radius: 4px;
        margin-top: 0px;
    }
}
@media (max-width:450px){
    .avatar{
        width: 140%;
        height: 240%;
        padding: 0px !important;
        margin-top: -15px;
    }
}