*{
  margin: 0;
  padding: 0;
}
.user-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
}
.user-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #292929;
}

.user-item a:hover,
.user-item a:active {
  background: #ecd346;
}

.user-item__content {
  padding: 0;
}

.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #ffd900af;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3 {
  color: #292929;
}

.user-item__info h3 {
  margin: 0;
}
@media (width:540px){
  .user-item__info>h2{
    font-size: 32px !important;
  }
  .user-item__info>h3{
    font-size: 25px !important;
  }
  .user-item{
    width: 100%;
    height: 380px !important;
  }
  .user-item__info{
    margin-top: 225px!important;
    display: block;
    width: 100%;
    height: 50px!important;
    margin-left: -30px !important;
    text-align: center;
  }
}
@media (max-width:450px){
  .user-item__info>h2{
    font-size: 20px !important;
  }
  .user-item__info>h3{
    font-size: 18px !important;
    margin-top: -10px;
  }
  .user-item{
    width: 100%;
    height: 200px !important;
  }
  .user-item__info{
    margin-top: 75px!important;
    display: block;
    width: 100%;
    height: 50px!important;
    margin-left: -30px !important;
    text-align: center;
  }
}
@media (max-width : 785px){
  .user-item{
       width: 100%;
       height: 430px;
  }
  .links{
    display: flex;
    flex-direction: column;
  }
  .user-item__content{
    width: 90%;
    height: 100%;
  }
  .user-item__content>a>.user-item__image{
    display: block;
    width: 100%;
  }
  .user-item__info{
    margin-top: 250px;
    display: block;
    width: 100%;
    height: 100px;
    margin-left: -25px;
    text-align: center;
  }
  .user-item__info>h2{
    font-size: 45px;
  }
  .user-item__info>h3{
    font-size: 28px;
  }
}

  